<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productList.css">
    </head>
    <body>

        <%- include('../partials/header.ejs') %>

        <main>
            <div class="lista-categoria">

                <div class="cat">
                    <h3 class="sub-cat">Categorias</h3>
                    <ul>
                        <li><a href="#">Notebook</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Celular</a></li>
                        <li><a href="#">Componentes de PC</a></li>
                        <li><a href="#">Perifericos</a></li>
                        <li><a href="#">Consolas</a></li>
                    </ul>
                    <h3 class="sub-cat">Marca</h3>
                    <ul>
                        <li><a href="#">Epson</a></li>
                        <li><a href="#">Redragon</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Logitech</a></li>
                        <li><a href="#">Lenovo</a></li>
                        <li><a href="#">Nvidia</a></li>
                        <li><a href="#">AMD</a></li>
                    </ul>

                </div>

                <section class="articulos-venta">
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/kingstonram.png" alt="">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Kingston Fury Beast DDR4 RGB 16gb</h2>
                            <div class="prec">
                                <p class="monto">$67.700</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/discoSolido.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Disco sólido interno Kingston 240gb</h2>
                            <div class="prec">
                                <p class="monto">$30.099</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/D_NQ_NP_815458-MLU71621421091_092023-O.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Gabinete Solarmax 5920 Blanco</h2>
                            <div class="prec">
                                <p class="monto">$89.990</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/gpu-asrock2gb.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">GPU AMD ASRock RX 550 2gb</h2>
                            <div class="prec">
                                <p class="monto">$54.999</p>
                                <p class="descuento">12% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/rayzen5g.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Procesador AMD Ryzen 5 5600G</h2>
                            <div class="prec">
                                <p class="monto">$222.999</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/impresora.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Impresora Epson Ecotank L3250</h2>
                            <div class="prec">
                                <p class="monto">$573.999</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    <article class="product">
                        <div class="caja-imagen">
                            <img src="/img/inteli5.webp" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <div class="contenido">
                            <h2 class="nom-product">Intel Core i5 i5-10400F</h2>
                            <div class="prec">
                                <p class="monto">$201.585</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                        </div>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </article>
                    
                </section>

            </div>










        </main>
        <%- include('../partials/footer') %>   
        
    </body>
</html>