<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>

        <h2>Carrito de Compras</h2>
        <br>
        <div class="container">
            <div class="articulos">
                <div class="producto">
                    <div class="encabezadoProduc">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

                <div class="producto">
                    
                    <div class="encabezadoProduc">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

                <div class="producto">
                    
                    <div class="encabezadoProduc">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

            </div>
                
                
            <!-- Otros productos pueden seguir aquí -->
        
            <div class="total">
                <h2><small>Ingresa un cupon de descuento</small></h2>
                <input type="text" id="cupon" name="">
                <button type="submit" class="cuponDesc">Aplicar descuento</button>



                <h3 class="subTotal">Subtotal: $573.999</h3>

                <h2>Total: $573.999</h2>
                <button type="submit" class="comprar">Finalizar Compra</button>
            </div>
        </div>
       

    </main>

    <%- include('../partials/footer') %>


   
</body>
</html>