<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecnoJuy - Company</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/9507f12580.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="barra-navegacion">
        <!-- Encabezado -->
        <div class="main-header-top-bar">
            <div  class="imagen">
                <img src="img/Tecnojuy (3).png" alt="TecnoJuy" class="logo">
            </div>
            
            <!-- Barra de busqueda -->
            <br>
            <form action="/" id="busqueda" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas ..." >
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <div  class="button-register">
                <button><i class="fa-solid fa-circle-user"></i> Ingresar</button>
                <button><i class="fa-regular fa-address-card"></i> Registrarme</i></button>
            </div>
            
        </div>    
        <!-- Navbar -->
        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <h1 hidden class="left-navbar"> TecnoJuy</h1>

            <ul class="rigth-navbar">
                <li><a href="#">Inicio </a>
                <li><a href="#">Productos </a>
                <li><a href="#">Acerca de </a>
                <li><a href="#">Contacto </a>
            </ul>
        </nav>
        
    </header>

    <main>
        <img src="/img/image 9.png" alt="banner" class="promo">  

        <h2 class="titulares">Lo Mas Destacado </h2>
        <section>
            <article>
                <div class="imgProduct">
                    <img src="/img/D_NQ_NP_601630-MLA52222968473_102022-F.webp" alt="product">
                </div>
                <h3>Kingston Fury Beast DDR4 RGB 16gb</h3>
                <p class="precios">$67.700</p>
                <p class="descuento">20% OFF</p>
                <p hidden class="descripcion">La Memoria RAM Fury Beast DDR4 RGB cuenta con un diseño elegante en color negro y una iluminación RGB que le dará un toque único a tu equipo. Su formato UDIMM y sus 288 pines aseguran una fácil instalación y compatibilidad con procesadores AMD Ryzen e Intel.

                    Gracias a su latencia CAS de 16 y su tasa de transferencia de 25600 MB/s, podrás disfrutar de una rápida respuesta en tus aplicaciones y juegos. Además, su voltaje de alimentación de 1.35V garantiza un funcionamiento estable y seguro.
                    
                    Esta memoria RAM es compatible con Intel XMP, lo que te permitirá optimizar su rendimiento y ajustarla a tus necesidades específicas. No esperes más para llevar tu experiencia de juego al siguiente nivel con la Memoria RAM Fury Beast DDR4 RGB de Kingston.
                </p>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/discoSolido.webp" alt="product">
                </div>
                
                <h3>Disco sólido interno Kingston 240gb</h3>
                <p class="precios">$30.099</p>
                <p class="descuento">10% OFF</p>
                <p hidden class="descripcion">
                    la unidad en estado sólido A400 de Kingston está diseñada para las personas más exigentes. Mejora de forma notable la capacidad de respuesta de su sistema, ya que alcanza velocidades de lectura/escritura de hasta 500MB/seg y 450MB/seg. Por ende, es 10 veces más rápido que un disco duro tradicional.
                    Al estar compuesta por una memoria flash es silenciosa y posee pocas probabilidades de tener fallas.
                </p>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/D_NQ_NP_815458-MLU71621421091_092023-O.webp" alt="">
                </div>
                
                <h3>Gabinete Solarmax 5920 Blanco</h3>
                <p class="precios">$89.990</p>
                <p class="descuento">5% OFF</p>
                <p hidden class="descripcion">
                    El Gabinete Solarmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es la elección perfecta para los gamers que buscan un diseño moderno y funcional. Con su estructura tipo Mid tower y su color blanco, este gabinete se adapta a cualquier estilo de decoración. Cuenta con dos bahías para discos de 2.5" y 3.5", ofreciendo amplio espacio de almacenamiento para tus juegos y archivos. Además, su panel frontal incluye puertos USB para facilitar la conexión de tus dispositivos.
                    Con su sistema de iluminación RGB, este gabinete te permite personalizar el ambiente de tu espacio de juego. Los 6 ventiladores incluidos garantizan una excelente refrigeración, manteniendo tus componentes en óptimas condiciones durante largas sesiones de juego.
                    El Gabinete So  larmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es una opción de calidad y rendimiento para los gamers más exigentes. Su diseño elegante y sus características avanzadas lo convierten en una elección segura para mejorar tu experiencia de juego. ¡No pierdas la oportunidad de adquirirlo y llevar tu setup al siguiente nivel!
                </p>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/gpu-asrock2gb.webp" alt="product">
                </div>
                
                <h3>GPU AMD ASRock RX 550 2gb</h3>
                <p class="precios">$54.999</p>
                <p class="descuento">12% OFF</p>
                <p hidden class="descripcion">
                    AMD es un fabricante estadounidense de placas de video, por su tecnología se ha destacado en crear procesadores de alta gama que permiten un excelente funcionamiento del motor gráfico de tu computadora.

                    En el menor tiempo posible
                    Con una velocidad de memoria de 6000 MHz los datos del procesador central se van a traducir en información comprensible en tan solo un abrir y cerrar de ojos; decodificará tantos ciclos por segundo que hará más efectiva la transmisión de datos a otros componentes. Con esta cualidad, el equipo ganará agilidad y eficiencia.

                    Velocidad en cada lectura
                    Como cuenta con 512 núcleos, los cálculos para el procesamiento de gráficos se realizarán de forma simultánea logrando un resultado óptimo del trabajo de la placa. Esto le permitirá ejecutar lecturas dispersas y rápidas de y hacia la GPU.

                    Calidad de imagen
                    Criterio fundamental a la hora de elegir una placa de video, su resolución de 5120x2880 no te defraudará. La decodificación de los píxeles en tu pantalla te harán ver hasta los detalles más ínfimos en cada ilustración.
                </p>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/rayzen5g.webp" alt="product">
                </div>
                
                <h3>Procesador AMD Ryzen 5 5600G</h3>
                <p class="precios">$222.999</p>
                <p class="descuento"></p>
                <p hidden class="descripcion">
                    Ryzen 5 5600G, diseñado para brindarte un rendimiento excepcional en tus juegos favoritos. Con sus 6 núcleos y 12 hilos, este procesador te permitirá disfrutar de una multitarea fluida y eficiente. Gracias a su arquitectura x86-64 y litografía de 7 nm, obtendrás un rendimiento óptimo con un menor consumo de energía.

                    La frecuencia de reloj de 3.9 GHz a 4.4 GHz garantiza una velocidad de procesamiento rápida, mientras que la memoria caché de 16 MB te ayudará a acceder rápidamente a tus datos más utilizados. Además, este procesador es compatible con memoria RAM DDR4, lo que te permitirá aprovechar al máximo la velocidad y capacidad de tu sistema.

                    El procesador gráfico Radeon Graphics integrado te brinda una calidad de imagen excepcional, permitiéndote disfrutar de tus juegos sin necesidad de una tarjeta gráfica adicional. Además, el procesador está desbloqueado, lo que te da la libertad de realizar overclocking y personalizar tu experiencia de juego según tus preferencias.
                </p>
            </article>
            
        </section>



    </main>

    <footer>

        <div class="footer-text">
            <div>
                <i class="fas fa-credit-card" id="icono"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>En TecnoJuy, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            
            <div>
                <a href="#"><i class="fa-brands fa-facebook" id="face"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" id="youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" id="insta"></i></a>
                <p><strong>Acerca de Nosotros</strong></p>
                <p>Descubre TecnoJuy: Conoce nuestra historia y valores. Estamos comprometidos a proporcionar productos de calidad y una experiencia de compra excepcional.</p>
            </div>
            <div>
                <i class="fas fa-user-shield" id="icono"></i>
                <p><strong>Políticas y términos</strong></p>
                <p>Términos y condiciones: Lee nuestras políticas de compra, envío y devoluciones para garantizar una experiencia de compra transparente y satisfactoria.</p>
            </div>
        </div>
        
        <p><small>Copyright © 2024 - TecnoJuy S.R.L. Grupo7</small></p>

    </footer>
</body>
</html>