<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecnoJuy - Company</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/index.css">
        <script src="https://kit.fontawesome.com/9507f12580.js" crossorigin="anonymous"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="barra-navegacion">
        <!-- Encabezado -->
        <div class="main-header-top-bar">
            <div  class="imagen">
                <img src="img/Tecnojuy (3).png" alt="TecnoJuy" class="logo">
            </div>
            
            <!-- Barra de busqueda -->
            <br>
            <form action="/" id="busqueda" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas ..." >
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <div  class="button-register">
                <button><i class="fa-solid fa-circle-user"></i> Ingresar</button>
                <button><i class="fa-regular fa-address-card"></i> Registrarme</i></button>
            </div>
            
        </div>    
        <!-- Navbar -->
        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <h1 hidden class="left-navbar"> TecnoJuy</h1>

            <ul class="rigth-navbar">
                <li><a href="#">Inicio </a>
                <li><a href="#">Productos </a>
                <li><a href="#">Acerca de </a>
                <li><a href="#">Contacto </a>
            </ul>
        </nav>
        
    </header>
    <hr>
    <main>
        <div class="formulario">
            <form action="">
                <h3>Acceder</h3>
                <label for="txtUsername">Usuario o email *</label>
                <input type="text" id="txtUsername" required="true">
                <label for="txtPassword">Contraseña *</label>
                <input type="password" id="txtPassword" required="true">
                <br/>
                <button class="btn-login">CONECTARSE</button>
                <br>
                <h4>O INICIE SESIÓN CON </h4>
                <button class="btn-facebook"><i class="fa-brands fa-facebook"></i> FACEBOOK</button>
                <button class="btn-google"><i class="fa-brands fa-google"></i> GOOGLE</button>
            </form>
        </div>
    </main>
    <hr>
    <footer>

        <div class="footer-text">
            <div>
                <i class="fas fa-credit-card" id="icono"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>En TecnoJuy, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            
            <div>
                <a href="#"><i class="fa-brands fa-facebook" id="face"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" id="youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" id="insta"></i></a>
                <p><strong>Acerca de Nosotros</strong></p>
                <p>Descubre TecnoJuy: Conoce nuestra historia y valores. Estamos comprometidos a proporcionar productos de calidad y una experiencia de compra excepcional.</p>
            </div>
            <div>
                <i class="fas fa-user-shield" id="icono"></i>
                <p><strong>Políticas y términos</strong></p>
                <p>Términos y condiciones: Lee nuestras políticas de compra, envío y devoluciones para garantizar una experiencia de compra transparente y satisfactoria.</p>
            </div>
        </div>
        
        <p><small>Copyright © 2024 - TecnoJuy S.R.L. Grupo7</small></p>

    </footer>
</body>
</html>