<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - TecnoJuy</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/9507f12580.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="barra-navegacion">
        <!-- Encabezado -->
        <div class="main-header-top-bar">
            <div  class="imagen">
                <img src="img/Tecnojuy (3).png" alt="TecnoJuy" class="logo">
            </div>
            
            <!-- Barra de busqueda -->
            <br>
            <form action="/" id="busqueda" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas ..." >
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <div  class="button-register">
                <a href="/login"><button class="login"><i class="fa-solid fa-circle-user"></i> Ingresar</button></a>
                <a href="/register"><button class="register" ><i class="fa-regular fa-address-card"></i> Registrarme</i></button></a>
            </div>
            
        </div>    
        <!-- Navbar -->
        
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <h1 hidden class="left-navbar"> TecnoJuy</h1>

            <ul class="rigth-navbar">
                <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                <li><a href="#"><i class="fa-solid fa-hand-holding-medical"></i> Productos</a>
                <li><a href="#"><i class="fa-solid fa-info"></i> Acerca de</a>
                <li><a href="/productCart"><i class="fa-solid fa-cart-plus"></i> Mis Compras</a>
            </ul>
        </nav>
        
    </header>



    <main>

        <h2>Carrito de Compras</h2>
        <br>
        <div class="container">
            <div class="articulos">
                <div class="producto">
                    <div class="imagen">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

                <div class="producto">
                    
                    <div class="imagen">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

                <div class="producto">
                    
                    <div class="imagen">
                        <h3 class="titulo">Producto 1</h3>
                        <img src="/img/impresora.webp" alt="Producto 1">
                    </div>
                    <h2 class="nameProduct">Impresora Epson</h2>
                    <div class="precio">
                        <h3 class="titulo">Precio:</h3>
                        <h4>$573.999</h4>
                    </div>
                    <div class="cant">
                        <h3 class="titulo">Cantidad:</h3>
                        <div class="cantidad">
                            <input type="text" class="form-con">
                            <div class="btns">
                                <span>
                                    <button class="arriba"  type="button">
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="abajo" type="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <i class="fa-solid fa-trash-can" id="delete"></i> 
                </div>

            </div>
                
                
            <!-- Otros productos pueden seguir aquí -->
        
            <div class="total">
                <h2><small>Ingresa un cupon de descuento</small></h2>
                <input type="text" id="cupon" name="">
                <button type="submit" class="cuponDesc">Aplicar descuento</button>



                <h3 class="subTotal">Subtotal: $573.999</h3>

                <h2>Total: $573.999</h2>
                <button type="submit" class="comprar">Finalizar Compra</button>
            </div>
        </div>
       

    </main>




    <footer>

        <div class="footer-text">
            <div>
                <i class="fas fa-credit-card" id="icono"></i>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>En TecnoJuy, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            
            <div>
                <a href="#"><i class="fa-brands fa-facebook" id="face"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" id="youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" id="insta"></i></a>
                <p><strong>Acerca de Nosotros</strong></p>
                <p>Descubre TecnoJuy: Conoce nuestra historia y valores. Estamos comprometidos a proporcionar productos de calidad y una experiencia de compra excepcional.</p>
            </div>
            <div>
                <i class="fas fa-user-shield" id="icono"></i>
                <p><strong>Políticas y términos</strong></p>
                <p>Términos y condiciones: Lee nuestras políticas de compra, envío y devoluciones para garantizar una experiencia de compra transparente y satisfactoria.</p>
            </div>
        </div>
        
        <p><small>Copyright © 2024 - Grupo7 TecnoJuy! © 2024. Hecho con <b id="corazon">♥</b> por G7</small></p>

    </footer>
</body>
</html>