<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="./register.css">
    <link rel="stylesheet" href="./header.css">
    
</head>
<body>

    <!-- HEADER  -->
    <header>
        <div class="logo">
            <img src="./img/Captura.PNG" alt="Logo de la empresa">
        </div>
        
        <nav>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </nav>
        
        <a href="#" class="register-btn">Register</a>
    </header>
<br>
    <!-- Contenido específico de la página principal -->
    <div id="container">
        <h2 class="titulo">REGISTRO</h2>
        <form>
            
            <input class="formC" placeholder="Tu nombre" type="text" id="nombre" name="nombre" required>

            
            <input class="formC" placeholder="Tu apellido" type="text" id="apellido" name="apellido" required>

            
            <input class="formC" placeholder="tu email" type="email" id="email" name="email" required>

            
            <input class="formC" placeholder="Tu número de celular" type="tel" id="celular" name="celular" required>

            <input class="formC" placeholder="Tu nombre de usuario" type="text" id="nomUsuario" name="nomUsuario" required>

            <input class="formC" placeholder="Tu contraseña" type="password" id="contrasena" name="contrasena" required>
            <input class="formC" placeholder="Repite tu contraseña contrasña" type="password" id="repitContrasena" name="repitContrasena" required>
            <label>
                <input type="checkbox" id="acceptTerms" name="acceptTerms" required>
                Acepta Términos y Condiciones
            </label>
            <button class="btn-registrar" type="submit">Registrar</button>
        </form>

    </div>
    <br>
    <!-- FOOTER -->
    <footer>
        <div class="footer-row">
            <div class="footer-column">
                <!-- Contenido de la primera parte a la izquierda -->
                <p>About 
                    Who are we? <br>

                    Student Discount<br>
                    We are hiring!<br>
                    Press
                    </p>
            </div>
            
            <div class="footer-column">
                <!-- Logo y texto en el medio -->
                <img src="./img/Captura.PNG" alt="Logo de la empresa" class="footer-logo">
                <br>
                <span>Law and Order<br>
                    Cookies<br>
                    Data proteccion</span>
            </div>

            <div class="footer-column">
                <!-- Texto a la derecha -->
                <p>Help <br>
                    Sellers - register to sell <br>
                    Seller Portal<br>
                    Payments<br>
                    Sends
                    </p>
            </div>
        </div>
<br>
        <div class="footer-row">
            <div class="footer-images">
                <!-- Tres imágenes en el centro -->
                <img src="imagen1.jpg" alt="Imagen 1">
                <img src="imagen2.jpg" alt="Imagen 2">
                <img src="imagen3.jpg" alt="Imagen 3">
            </div>
        </div>

        <div class="footer-row">
            <p>TecnoJuy! © 2024. Hecho con <b id="corazon">♥</b> por G7</p>
        </div>
    </footer>

</body> 

</html>
