<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecnoJuy - Company</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/9507f12580.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="barra-navegacion">
        <!-- Encabezado -->
        <div class="main-header-top-bar">
            <div  class="imagen">
                <img src="img/Tecnojuy (3).png" alt="TecnoJuy" class="logo">
            </div>
            <!-- Barra de busqueda -->
            <br>
            <form action="/" id="busqueda" class="form-search">
                <input type="text" placeholder="Buscar productos, marcas ..." >
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div  class="button-register">
                <a href="/login"><button class="login"><i class="fa-solid fa-circle-user"></i> Ingresar</button></a>
                <a href="/register"><button class="register" ><i class="fa-regular fa-address-card"></i> Registrarme</i></button></a>
            </div>
        </div>    
        <!-- Navbar -->
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <h1 hidden class="left-navbar"> TecnoJuy</h1>

            <ul class="rigth-navbar">
                <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                <li><a href="#"><i class="fa-solid fa-hand-holding-medical"></i> Productos</a>
                <li><a href="#"><i class="fa-solid fa-info"></i> Acerca de</a>
                <li><a href="/productCart"><i class="fa-solid fa-cart-plus"></i> Mis Compras</a>
            </ul>
        </nav>
    </header>
    
    <main>
        <br>
    <!-- Contenido específico de la página principal -->
    <div id="container">
        <h2 class="titulo">REGISTRO</h2>
        <form class="form-registrosDatos">            
            <input class="formC" placeholder="Tu nombre" type="text" id="nombre" name="nombre" required>
            <input class="formC" placeholder="Tu apellido" type="text" id="apellido" name="apellido" required>
            <input class="formC" placeholder="tu email" type="email" id="email" name="email" required>
            <input class="formC" placeholder="Tu número de celular" type="tel" id="celular" name="celular" required>
            <input class="formC" placeholder="Tu nombre de usuario" type="text" id="nomUsuario" name="nomUsuario" required>
            <input class="formC" placeholder="Tu contraseña" type="password" id="contrasena" name="contrasena" required>
            <input class="formC" placeholder="Repite tu contraseña contrasña" type="password" id="repitContrasena" name="repitContrasena" required>
            <label>
                <input type="checkbox" id="acceptTerms" name="acceptTerms" required>
                Acepta Términos y Condiciones
            </label>
            <button class="btn-form-registrar" type="submit">Registrar</button>
        </form>
    </div>
    <br>
</main>

    <!-- FOOTER -->
<footer>

    <div class="footer-text">
        <div>
            <i class="fas fa-credit-card" id="icono"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>En TecnoJuy, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        
        <div>
            <a href="#"><i class="fa-brands fa-facebook" id="face"></i></a>
            <a href="#"><i class="fa-brands fa-youtube" id="youtube"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" id="insta"></i></a>
            <p><strong>Acerca de Nosotros</strong></p>
            <p>Descubre TecnoJuy: Conoce nuestra historia y valores. Estamos comprometidos a proporcionar productos de calidad y una experiencia de compra excepcional.</p>
        </div>
        <div>
            <i class="fas fa-user-shield" id="icono"></i>
            <p><strong>Políticas y términos</strong></p>
            <p>Términos y condiciones: Lee nuestras políticas de compra, envío y devoluciones para garantizar una experiencia de compra transparente y satisfactoria.</p>
        </div>
    </div>
    
    <p><small>Copyright © 2024 - Grupo7 TecnoJuy! © 2024. Hecho con <b id="corazon">♥</b> por G7</small></p>

</footer>
</body>
</html>