.formulario{
    width: 100%;
    text-align: center;
    margin: 20px 30px;
}

h3{
    font-size: 40px;
    margin-bottom: 15px;
}

h4{
    font-size: 20px;
    margin-bottom: 15px;
}

label{
    display: block;
    text-align: center;
}

input{
    width: 50%;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 15px;
}

.btn-login{
    width: 50%;
    background-color: dodgerblue;
    display: inline ;
    padding: 10px;
    border-radius: 8px;
    text-align: auto;
    color: white;
    margin: 10px 15px;
}

.btn-facebook{
    background-color: blue;
    width: 25%;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.btn-google{
    background-color: dodgerblue;
    width: 25%;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
}