main {
    margin: 30px;
    display: flex;
}

.formulario{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
    border: 1px solid black ;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.formTitulo{
    font-size: 40px;
    margin-bottom: 15px;
}

.formSubtitulo {
    padding-top: 10px;
    padding-bottom: 5px;
}

label{
    display: block;
    text-align: center;
}

input{
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing:border-box;
}

.btn-login{
    width: 100%;
    margin: auto;
    background-color: dodgerblue;
    display: inline ;
    padding: 10px;
    border-radius: 8px;
    text-align: auto;
    color: white;
}

.btn-facebook{
    width: 45%;
    background-color: blue;
    margin: auto;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.btn-google{
    width: 45%;
    background-color: dodgerblue;
    margin: auto;
    display: inline;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.crear_cuenta{
    padding-top: 10px;
}

@media(min-width: 768px){
    .formulario{
        text-align: center;
        width: 30%;
        margin: auto;
        background-color: white;
        border: 1px solid black ;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
    }   

    label{
        display: block;
        text-align: center;
        margin: auto;
    }

    input{
        margin: auto;
        display: inline;
        padding: 10px;
        border-radius: 8px;
        margin: 5px 15px;
    }

    .btn-login{
        margin: auto;
        background-color: dodgerblue;
        display: inline ;
        padding: 10px;
        border-radius: 8px;
        text-align: auto;
        color: white;
        margin: 10px 15px;
    }

    .btn-login:hover{
        background-color: ;
    }

    .btn-facebook{
        background-color: blue;
        margin: auto;
        display: inline;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        color: white;
        font-size: 15px;
    }
    
    .btn-google{
        background-color: dodgerblue;
        margin: auto;
        display: inline;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        color: white;
        font-size: 15px;
    }
}

@media(min-width: 1024px){
    
}