
/* estilos para el main */


main{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.producto {
    
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #03264C;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}
.nameProduct{
    color: #03264C;
}
.encabezadoProduc img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.producto a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.precio, .cantidad, .subtotal {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.articulos{
    margin-bottom: 40px;


}

.cantidad input {
    width: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}


.abajo ,.arriba {
    background-color: #e44d26; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.total {
    background-color: #fff;
    border: 1px solid #03264C;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cupon{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.total h3 {
    color: #007BFF;
    font-size: 22px;
    margin-top: 10px;
}

.total button {
    width: 50%;
    padding: 10px;
    background-color: #A774EB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#delete{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: red;
}







@media (min-width: 768px) {
    
    
    /* Estilos para el main*/
    
    .producto {
        width: 60%;
        margin: auto;
        
    }
    



}


@media (min-width: 1024px) {
    
   
    
    /*Estilos para el main*/
    main{
        margin: 25px;
    }
   
    .container{
        margin: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;   
    }
    .articulos{
        width: 70%;
        margin-bottom: 40px;

    }
    .producto {
        width: 100%;
        height: 180px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        position: relative;
        gap: 10px; /* Agregar un espacio entre los elementos internos */
        margin-bottom: 20px;

    }

    .imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .encabezadoProduc img{
        max-width: 100%;  
        height: 130px; 
        margin-top: 10px;
    }

    .nameProduct{
        margin-right: 20px;

    }
    .cant{
        text-align: center; /* Centra el contenido horizontalmente */
        margin: 5px 10px; 
       
    }
    

    .total {
        width: 20%;
        height: 60vh;
        margin: auto;
        text-align: center;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cupon{
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }
    

    .total button {
        width: 80%;

    }
    #delete{
        right: 30px;
        top: 140px;
    }

    
    
}


