section {
    /*width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;*/
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    
}


/* Estilos para cada artículo */
article {
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 450px;
    padding: 20px;
    margin: 15px;
    position: relative;
}

main h2{
    color: #666;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 35px;
}

/* Estilos para la imagen dentro del artículo */
.imgProduct{
    width: 100%;
    height: 300px;
    overflow: hidden; /* Evitar que la imagen sobresalga si es más grande que el contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-mouse{
    /*height: 200px;*/
    aspect-ratio: 0.7;
}

article img {
    width: 95%;
    height: auto;
    display: block;
}


/* Estilos específicos para el ícono de envío y precios */

article #favorite{
    color: red;
    font-size: 25px;
    position: absolute;
    top: 8px;
    right: 10px;
}

article #cart{
    display: block;
    margin-right: 5px;
    color: #39b54a; 
    padding: 7px;
}


section article h4{
    display: inline;
}

article .precios {
    font-size: 18px;
    font-weight: normal;
    color: #222;
    position: absolute;
    top: 400px;
    right: 90px;
}

article .descuento {
    color: #39b54a; 
    position: absolute;
    top: 290px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

article h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    text-decoration: none;  
    
}
.contenedor article a{
    text-decoration: none;
}
.contenedor article a h3 {
    background: linear-gradient(to right, #ffcc00, #ff6600); /* Cambia los colores según tu preferencia */
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

.contenedor h3:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.contenedor .precios {
    font-size: 18px; /* Tamaño de fuente */
    color: #007bff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-bottom: 10px;
    font-weight: bold; /* Grosor de la fuente */
    text-decoration: line-through;
}

.contenedor .precios {
    color: #007bff; /* Cambia el color para el precio con descuento */
}


/* Animación de cambio de color al pasar el cursor */
.contenedor .precios:hover {
    color: #ff6600; /* Cambia el color al pasar el cursor */
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}




#cart{
    position: absolute;
    right: 10px;
    top: 400px;
    font-size: 25px;
}




@media (min-width: 768px) {

    /* Estilos para el main*/
    
   

}


@media (min-width: 1024px) {
    /*Estilos para el main*/


    .contenedor article:hover{
        transform: scale(1.06);
        cursor: pointer;
    }
    #cart{
        transition: 300ms;

    }
    #cart:hover {
        transform: rotate(360deg);
        box-shadow: 0 0 5px var(--green);
        
    }
    

   #gpu-cpu-promo #perifericos-img{
        height: 430px;
    }
   
    
    
}