/* Estilos base para todas las pantallas */
#container {
    margin: 10% auto;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajustar el ancho según sea necesario */
    max-width: 400px; /* Ancho máximo del contenedor */
}

.titulo {
    text-align: center;
    font-size: 2em;
}
.form-registrosDatos{
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.formC {
    padding: 10px;
    margin-bottom: 20px;
    
    background-color: #000;
    border: 1px solid black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

label input {
    margin-left: 5%;
    margin-right: 5%;
}

.btn-form-registrar {
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #A774EB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-form-registrar:hover {
    background-color: #45a049;
}

/* Consulta de medios para pantallas de 768px o más grandes */
@media (min-width: 768px) {
    #container {
        width: 60%; /* Ajustar el ancho según sea necesario */
    }

    label, label input, .btn-form-registrar {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Consulta de medios para pantallas de 1024px o más grandes */
@media (min-width: 1024px) {
    #container {
        width: 50%; /* Ajustar el ancho según sea necesario */
    }
}
