

/* Consulta de medios para pantallas de 768px o más grandes */
@media (min-width: 768px) {

    /* Estilos para el main*/
    .container {
        width: 60%; /* Ajustar el ancho según sea necesario */
    }

    label, label input, .btn-form-registrar {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Consulta de medios para pantallas de 1024px o más grandes */
@media (min-width: 1024px) {


    /*Estilos para el main*/


    .container {
        width: 35%; /* Ajustar el ancho según sea necesario */
    }


    .btn-form-registrar{
        cursor: pointer;
        width: 30%;
    }
    
    .btn-form-registrar:hover {
        background-color: #A774EB; /* Cambiar el color al pasar el mouse */
    }

}
