<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    

    <%- include('./partials/header.ejs') %>

    <main>
        <div class="imgPromo">
            <img src="/img/image 9.png" alt="banner" class="promo">  
        </div>

        <h2 class="titulares">Lo Mas Destacado </h2>
        <section class="contenedor">
            <article>
                <div class="imgProduct">
                    <img src="/img/kingstonram.png" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                <h3>Kingston Fury Beast DDR4 RGB 16gb</h3>
                <p class="precios">$67.700</p>
                <p class="descuento">20% OFF</p>
                <p hidden class="descripcion">La Memoria RAM Fury Beast DDR4 RGB cuenta con un diseño elegante en color negro y una iluminación RGB que le dará un toque único a tu equipo. Su formato UDIMM y sus 288 pines aseguran una fácil instalación y compatibilidad con procesadores AMD Ryzen e Intel.

                    Gracias a su latencia CAS de 16 y su tasa de transferencia de 25600 MB/s, podrás disfrutar de una rápida respuesta en tus aplicaciones y juegos. Además, su voltaje de alimentación de 1.35V garantiza un funcionamiento estable y seguro.
                    
                    Esta memoria RAM es compatible con Intel XMP, lo que te permitirá optimizar su rendimiento y ajustarla a tus necesidades específicas. No esperes más para llevar tu experiencia de juego al siguiente nivel con la Memoria RAM Fury Beast DDR4 RGB de Kingston.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/discoSolido.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Disco sólido interno Kingston 240gb</h3>
                <p class="precios">$30.099</p>
                <p class="descuento">10% OFF</p>
                <p hidden class="descripcion">
                    la unidad en estado sólido A400 de Kingston está diseñada para las personas más exigentes. Mejora de forma notable la capacidad de respuesta de su sistema, ya que alcanza velocidades de lectura/escritura de hasta 500MB/seg y 450MB/seg. Por ende, es 10 veces más rápido que un disco duro tradicional.
                    Al estar compuesta por una memoria flash es silenciosa y posee pocas probabilidades de tener fallas.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/D_NQ_NP_815458-MLU71621421091_092023-O.webp" alt="">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Gabinete Solarmax 5920 Blanco</h3>
                <p class="precios">$89.990</p>
                <p class="descuento">5% OFF</p>
                <p hidden class="descripcion">
                    El Gabinete Solarmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es la elección perfecta para los gamers que buscan un diseño moderno y funcional. Con su estructura tipo Mid tower y su color blanco, este gabinete se adapta a cualquier estilo de decoración. Cuenta con dos bahías para discos de 2.5" y 3.5", ofreciendo amplio espacio de almacenamiento para tus juegos y archivos. Además, su panel frontal incluye puertos USB para facilitar la conexión de tus dispositivos.
                    Con su sistema de iluminación RGB, este gabinete te permite personalizar el ambiente de tu espacio de juego. Los 6 ventiladores incluidos garantizan una excelente refrigeración, manteniendo tus componentes en óptimas condiciones durante largas sesiones de juego.
                    El Gabinete So  larmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es una opción de calidad y rendimiento para los gamers más exigentes. Su diseño elegante y sus características avanzadas lo convierten en una elección segura para mejorar tu experiencia de juego. ¡No pierdas la oportunidad de adquirirlo y llevar tu setup al siguiente nivel!
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/gpu-asrock2gb.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>GPU AMD ASRock RX 550 2gb</h3>
                <p class="precios">$54.999</p>
                <p class="descuento">12% OFF</p>
                <p hidden class="descripcion">
                    AMD es un fabricante estadounidense de placas de video, por su tecnología se ha destacado en crear procesadores de alta gama que permiten un excelente funcionamiento del motor gráfico de tu computadora.

                    En el menor tiempo posible
                    Con una velocidad de memoria de 6000 MHz los datos del procesador central se van a traducir en información comprensible en tan solo un abrir y cerrar de ojos; decodificará tantos ciclos por segundo que hará más efectiva la transmisión de datos a otros componentes. Con esta cualidad, el equipo ganará agilidad y eficiencia.

                    Velocidad en cada lectura
                    Como cuenta con 512 núcleos, los cálculos para el procesamiento de gráficos se realizarán de forma simultánea logrando un resultado óptimo del trabajo de la placa. Esto le permitirá ejecutar lecturas dispersas y rápidas de y hacia la GPU.

                    Calidad de imagen
                    Criterio fundamental a la hora de elegir una placa de video, su resolución de 5120x2880 no te defraudará. La decodificación de los píxeles en tu pantalla te harán ver hasta los detalles más ínfimos en cada ilustración.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/rayzen5g.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Procesador AMD Ryzen 5 5600G</h3>
                <p class="precios">$222.999</p>
                <p class="descuento"></p>
                <p hidden class="descripcion">
                    Ryzen 5 5600G, diseñado para brindarte un rendimiento excepcional en tus juegos favoritos. Con sus 6 núcleos y 12 hilos, este procesador te permitirá disfrutar de una multitarea fluida y eficiente. Gracias a su arquitectura x86-64 y litografía de 7 nm, obtendrás un rendimiento óptimo con un menor consumo de energía.

                    La frecuencia de reloj de 3.9 GHz a 4.4 GHz garantiza una velocidad de procesamiento rápida, mientras que la memoria caché de 16 MB te ayudará a acceder rápidamente a tus datos más utilizados. Además, este procesador es compatible con memoria RAM DDR4, lo que te permitirá aprovechar al máximo la velocidad y capacidad de tu sistema.

                    El procesador gráfico Radeon Graphics integrado te brinda una calidad de imagen excepcional, permitiéndote disfrutar de tus juegos sin necesidad de una tarjeta gráfica adicional. Además, el procesador está desbloqueado, lo que te da la libertad de realizar overclocking y personalizar tu experiencia de juego según tus preferencias.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            
        </section>

        
        <div id="gpu-cpu-promo">
            <img src="/img/caratula-2024-perif.jpg" alt="" id="perifericos-img">
            <img src="/img/caratula-2024-gpus.jpg" alt="" id="gpu-promo">
            <img src="/img/caratula-2024-mbs.jpg" alt="" id="mother-promo">
        </div>
        <!-- Espacio para anuncios  -->
        <div class="anucio">
            <div class="cartel">
                <div class="mensaje">
                    <p>¡No te lo pierdas!</p>
                    <h3>Ofertas Solo Por 24 hrs</h3>
                    <button>Ver Mas</button>
                </div>
                <img src="/img/Frame.png" alt="">
            </div>
            
            <div class="cartel">
                <div class="mensaje">
                    <p>¡No te lo pierdas!</p>
                    <h3>Ofertas Solo Por 24 hrs</h3>
                    <button>Ver Mas</button>
                </div>
                <img src="/img/Fradasdme.png" alt="">
            </div>
            
        </div>


        <h2 class="titulares">Sugerencias para ti </h2>
        <section class="contenedor">
            <article>
                <div class="imgProduct">
                    <img src="/img/impresora.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                <h3>Impresora Epson Ecotank L3250</h3>
                <p class="precios">$573.999</p>
                <p class="descuento">5% OFF</p>
                <p hidden class="descripcion">Descripción
                    Epson busca que sus clientes obtengan el máximo provecho de sus productos. Por ello, brinda soluciones de impresión con una amplia gama de dispositivos que cubren todos los usos y necesidades, tanto en casa como en el trabajo.
                    
                    Eficiencia y calidad
                    Imprime archivos, escanea documentos y haz todas las fotocopias que necesites con esta impresora multifunción Epson, siempre lista para facilitar tu rutina de trabajo o estudio.
                    
                    Perfecta para tu hogar o la oficina
                    Al ser a tinta te permitirá lograr impresiones de gran calidad con colores vivos y degradados suaves. Ocupa poco espacio y es fácil de manejar lo que la convierte en la opción ideal para cuestiones laborales, tareas escolares y requerimientos de la vida diaria.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/mouseLogitech.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Logitech Serie G Lightspeed G305</h3>
                <p class="precios">$52.499</p>
                <p class="descuento">10% OFF</p>
                <p hidden class="descripcion">
                    la unidad en estado sólido A400 de Kingston está diseñada para las personas más exigentes. Mejora de forma notable la capacidad de respuesta de su sistema, ya que alcanza velocidades de lectura/escritura de hasta 500MB/seg y 450MB/seg. Por ende, es 10 veces más rápido que un disco duro tradicional.
                    Al estar compuesta por una memoria flash es silenciosa y posee pocas probabilidades de tener fallas.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/tecladoShiva.webp" alt="">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Redragon Shiva K512w</h3>
                <p class="precios">$39.999</p>
                <p class="descuento">5% OFF</p>
                <p hidden class="descripcion">
                    El Gabinete Solarmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es la elección perfecta para los gamers que buscan un diseño moderno y funcional. Con su estructura tipo Mid tower y su color blanco, este gabinete se adapta a cualquier estilo de decoración. Cuenta con dos bahías para discos de 2.5" y 3.5", ofreciendo amplio espacio de almacenamiento para tus juegos y archivos. Además, su panel frontal incluye puertos USB para facilitar la conexión de tus dispositivos.
                    Con su sistema de iluminación RGB, este gabinete te permite personalizar el ambiente de tu espacio de juego. Los 6 ventiladores incluidos garantizan una excelente refrigeración, manteniendo tus componentes en óptimas condiciones durante largas sesiones de juego.
                    El Gabinete So  larmax 5920 Blanco 6 Fan Rgb Vidrio Templado 1 es una opción de calidad y rendimiento para los gamers más exigentes. Su diseño elegante y sus características avanzadas lo convierten en una elección segura para mejorar tu experiencia de juego. ¡No pierdas la oportunidad de adquirirlo y llevar tu setup al siguiente nivel!
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/D_NQ_NP_899021-MLA71605614798_092023-O.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Notebook Lenovo IdeaPad</h3>
                <p class="precios">$735.555</p>
                <p class="descuento">12% OFF</p>
                <p hidden class="descripcion">
                    La notebook Lenovo 81X700FVUS Intel I5 1135g7 Ram 8gb Ssd 256gb Full hd Windows 11 es una solución tanto para trabajar y estudiar como para entretenerte. Al ser portátil, el escritorio dejará de ser tu único espacio de uso para abrirte las puertas a otros ambientes ya sea en tu casa o en la oficina.

                    Pantalla con gran impacto visual
                    Su pantalla de 14"te brindará colores más vivos y definidos. La pantalla de la computadora portátil, tiene una impresionante relación pantalla-cuerpo del 88 %, gracias a sus biseles angostos de cuatro lados. Su pantalla antirreflejo FHD (1920 x 1080) de 14" está disponible en hasta 300 nits, para una experiencia de visualización brillante.

                    Eficiencia a tu alcance
                    Su procesador Intel Core i5 te permitirá ejecutar programas variados y procesos indispensables para desenvolverte en el día a día, ya sea en tu trabajo o en los momentos de ocio en tu hogar.

                    Windows 11 ofrece una potente seguridad integrada, que incluye aislamiento basado en hardware, cifrado y protección contra malware.

                    Aviso legal
                    • La duración de la batería depende del uso que se le dé al producto.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            <article>
                <div class="imgProduct">
                    <img src="/img/inteli5.webp" alt="product">
                </div>
                <i class="fa-regular fa-heart" id="favorite"></i>
                
                <h3>Intel Core i5 i5-10400F</h3>
                <p class="precios">$201.585</p>
                <p class="descuento">10% OFF</p>
                <p hidden class="descripcion">
                    Mejora tu experiencia de juego con el Procesador gamer Intel Core i5-10400F, diseñado para brindarte un rendimiento óptimo en tus partidas. Con sus 6 núcleos y 12 hilos de CPU, este procesador te permitirá disfrutar de tus juegos favoritos sin interrupciones ni demoras. Gracias a su arquitectura x86-64 y su frecuencia máxima de reloj de 4.3 GHz, podrás ejecutar múltiples aplicaciones y juegos de manera fluida y eficiente. Además, su compatibilidad con memoria RAM DDR4 y su capacidad para soportar hasta 128 GB de memoria, te aseguran una experiencia de juego inigualable. La tecnología hyper-threading te brinda un rendimiento aún más rápido y eficiente en tus tareas diarias. Con una litografía de 14 nm y una potencia de diseño térmico de 65 W, este procesador es una opción ideal para aquellos que buscan un rendimiento excepcional sin sacrificar la eficiencia energética. No esperes más y lleva tu experiencia de juego al siguiente nivel con el Procesador gamer Intel Core i5-10400F.
                </p>
                <i class="fa-solid fa-cart-shopping" id="cart"></i>
            </article>
            
        </section>


        <h2>Marcas</h2>
        <div class="marcas">
            <div class="tarjeta">
                <img src="/img/paralenovo.jpg" alt="" id="fondo">
                <img src="/img/Lenovo.png" alt="" id="empresa">
                <h4>Lenovo</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/paraintel.webp" alt="" id="fondo">
                <img src="/img/58568d224f6ae202fedf2720.png" alt="" id="empresa">
                <h4>Intel</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/paranvidia.jpg" alt="" id="fondo">
                <img src="/img/nvdia.png" alt="" id="empresa">
                <h4>Nvidia</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/pararedragon.jpg" alt="" id="fondo">
                <img src="/img/redragon.png" alt="" id="empresa">
                <h4>Redragon</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/pararayzen.avif" alt="" id="fondo">
                <img src="/img/rayzen.jpg" alt="" id="empresa">
                <h4>Rayzen</h4>
            </div>
        </div>



    </main>

    <%- include('./partials/footer') %>
</body>
</html>