<footer>

    <div class="footer-text">
        <div>
            <i class="fas fa-credit-card" id="icono"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>En TecnoJuy, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        
        <div>
            <a href="#"><i class="fa-brands fa-facebook" id="face"></i></a>
            <a href="#"><i class="fa-brands fa-youtube" id="youtube"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" id="insta"></i></a>
            <p><strong>Acerca de Nosotros</strong></p>
            <p>Descubre TecnoJuy: Conoce nuestra historia y valores. Estamos comprometidos a proporcionar productos de calidad y una experiencia de compra excepcional.</p>
        </div>
        <div>
            <i class="fas fa-user-shield" id="icono"></i>
            <p><strong>Políticas y términos</strong></p>
            <p>Términos y condiciones: Lee nuestras políticas de compra, envío y devoluciones para garantizar una experiencia de compra transparente y satisfactoria.</p>
        </div>
    </div>
    
    <p><small>Copyright © 2024 - Grupo7 TecnoJuy! © 2024. Hecho con <b id="corazon">♥</b> por G7</small></p>
</footer>