<header class="barra-navegacion">
    <!-- Encabezado -->
    <div class="main-header-top-bar">
        <div  class="imagen">
            <img src="/img/Tecnojuy (3).png" alt="TecnoJuy" class="logo">
        </div>
        
        <!-- Barra de busqueda -->
        <br>
        <form action="/" id="busqueda" class="form-search">
            <input type="text" placeholder="Buscar productos, marcas ..." >
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div  class="button-register">
            <a href="/users/login"><button class="login"><i class="fa-solid fa-circle-user"></i> Ingresar</button></a>
            <a href="/users/register"><button class="register" ><i class="fa-regular fa-address-card"></i> Registrarme</i></button></a>
        </div>
        
    </div>    
    <!-- Navbar -->
    
    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>
    
    <nav class="main-navbar">
        <h1 hidden class="left-navbar"> TecnoJuy</h1>

        <ul class="rigth-navbar">
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
            <li><a href="/product/list"><i class="fa-solid fa-hand-holding-medical"></i> Productos</a>
            <li><a href="#"><i class="fa-solid fa-info"></i> Acerca de</a>
            <li><a href="/product/cart"><i class="fa-solid fa-cart-plus"></i> Mis Compras</a>
        </ul>
    </nav>
    
</header>