<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        
    
        <%- include('../partials/header.ejs') %>
    
        <main>
        <br>
        <!--formulario-->
        <div class="formulario">
            <form action="post">
                <h3 class="formTitulo">Acceder</h3>
                
                <div class="input-box">
                    <input type="text" id="txtUsername" placeholder="Usuario o email" required="true">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" id="txtPassword" required="true">
                    <i class="fa-solid fa-lock"></i>
                </div>
                
                <br>
                
                <div class="remember">
                    <label><input type="checkbox">Recuérdame</label>
                    <a href="#">Olvidaste tu contraseña?</a>
                </div>
                
                <button type="submit" class="btn-login">CONECTARSE</button>
                
                <h5 class="formSubtitulo">O INICIE SESIÓN CON </h5>
                
                <div class="conect-other">
                    <button type="submit" class="btn-facebook"><i class="fa-brands fa-facebook"></i> FACEBOOK</button>
                    <button type="submit" class="btn-google"><i class="fa-brands fa-google"></i> GOOGLE</button>
                </div>
                
                <div class="crear_cuenta">
                    <p>No tienes cuenta? 
                        <a href="/register">Regístrate</a>
                    </p>
                </div>
            </form>
        </div>
    
    </main>

    <%- include('../partials/footer') %>
</body>
</html>