<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        
    
        <%- include('./partials/header.ejs') %>
    
        <main>
        <br>
    <!-- Contenido específico de la página principal -->
        <div class="container">
            <h2 class="titulo">REGISTRO</h2>
            <form class="form-registrosDatos"> 
                <label for="nombre" class="textoCampo">Nombre: </label>           
                <input class="formC" type="text" id="nombre" name="nombre" required>
                
                <label for="nombre" class="textoCampo">Apellido: </label>           
                <input class="formC" type="text" id="apellido" name="apellido" required>
                
                <label for="fechaNacimiento" class="textoCampo">Fecha de Nacimiento</label>
                <input class="formC" type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                
                <label for="nombre" class="textoCampo">Email: </label>           
                <input class="formC" type="email" id="email" name="email" required>
                
                <label for="nombre" class="textoCampo">Numero de Telefono: </label>           
                <input class="formC" placeholder="Tu número de celular" type="tel" id="celular" name="celular" required>
                
                <label for="nombre" class="textoCampo">Nombre de Usuario: </label>           
                <input class="formC" type="text" id="nomUsuario" name="nomUsuario" required>
                
                <label for="nombre" class="textoCampo">Contraseña: </label>           
                <input class="formC" placeholder="Tu contraseña" type="password" id="contrasena" name="contrasena" required>
                
                <label for="nombre" class="textoCampo">Repetir Contraseña: </label>           
                <input class="formC" placeholder="Repite tu contraseña contrasña" type="password" id="repitContrasena" name="repitContrasena" required>
                
                <label class="condiciones">
                    <input type="checkbox" id="acceptTerms" name="acceptTerms" required>
                    Acepta Términos y Condiciones
                </label>
                
                <button class="btn-form-registrar" type="submit">Registrar</button>
            </form>
        </div>
        <br>
    
    </main>

    <%- include('./partials/footer') %>
</body>
</html>